---
import Layout from "../../layouts/Layout.astro";
import Map from "../../components/map/Map.svelte";
import Navbar from "../../components/Navbar.svelte";
import getUserData from "../../firebase/utils/auth/getUserData";

/* Check current session */
const sessionCookie = Astro.cookies.get("session")?.value ?? null;

const user = await getUserData(sessionCookie);

const title = "Mapa de Colombia";
const description = "Mapa de Colombia para visualizar los departamentos visitados";
---

<Layout title={title} description={description}>
    <Navbar {user} client:load/>
    <div class="w-full flex justify-center my-16">
        <Map class="w-full flex justify-center" client:load/>
    </div>
</Layout>
