---
import Layout from "../../layouts/Layout.astro";
import Map from "../../components/map/Map.svelte";
import Navbar from "../../components/Navbar.svelte";
import getUserData from "../../firebase/utils/auth/getUserData";

/* Check current session */
const sessionCookie = Astro.cookies.get("session")?.value ?? null;

const user = await getUserData(sessionCookie);

// Las traducciones se manejarán del lado del cliente
// Estos son valores por defecto para SEO
const title = "Mapa de Colombia | Colombia Travel Level Map";
const description = "Mapa interactivo de Colombia para visualizar los departamentos visitados. Interactive map of Colombia to visualize visited departments.";
---

<Layout title={title} description={description}>
    <Navbar {user} client:load/>
    <div class="w-full flex justify-center my-16">
        <Map className="w-full" client:load/>
    </div>
</Layout>
