---
import Layout from "@/layouts/Layout.astro";
import Map from "../components/map/Map.svelte";
import Navbar from "../components/Navbar.svelte";
import getUserData from "@/firebase/utils/auth/getUserData";

// Las traducciones se manejarán del lado del cliente
// Estos son valores por defecto para SEO
const title = "Mapa de Colombia | Colombia Travel Level Map";
const description = "Mapa interactivo de Colombia para visualizar los departamentos visitados. Interactive map of Colombia to visualize visited departments.";
const sessionCookie = Astro.cookies.get("session")?.value ?? null;
const user = await getUserData(sessionCookie);
---

<Layout title={title} description={description}>
    <Navbar {user} client:load/>
    <div class="w-full flex justify-center my-16">
        <div class="w-full flex justify-center">
            <Map client:load/>
        </div>
    </div>
</Layout>
